<%
 const pageName = "Home";

%>
<!doctype html>
<html lang="en">
<head>
    <%- include('../../includes/header.ejs', {pageName: pageName}) %>
</head>
<body>
    <%- include('../../includes/navbar.ejs') %>
    <%- include('../../includes/titleBar.ejs') %>
</body>
</html>