<div class="h-48 flex defaultSpacing">
    <div class="my-auto">
        <h1 class="text-4xl font-bold"><%= title %></h1>
        <% if (typeof description !== 'undefined') { %>
            <p class="text-lg"><%= description %></p>
        <% } %>
    </div>
</div>